@model Customer
<div style="border :2px solid black">

	<h4>@Model.Customer_Id</h4>
	<h4>@Model.Customer_Name</h4>
	<h4>@Model.Customer_Email</h4>
	<h4>@Model.Customer_Password</h4>
	<h4>@Model.Customer_Gender</h4>
	<h4>@Model.Customer_City</h4>
	<h4>@Model.Customer_Country</h4>
	<img src="@Url.Content("~/Customer_Image/" + Model.Customer_Image)" asp-append-version="true" style="border: 2px solid black;" width="250px" height="250px" alt="Alternate Text" />

</div>