@model List<Category>
<style>
td{
    boder: 2px solid black;
}
</style>
<link href="~/css/customer.css" rel="stylesheet" />
<a href="@Url.Action("AddCategory","Admin")" class="btn btn-dark">Add new Category</a>
<table>
    <thead>
    <th>Category_Id</th>
    <th>Category_Name</th>
    <th>Options</th>
    </thead>
    <tbody>
        @foreach (var categ in Model)
        {
            <tr>
                <td>@categ.category_Id</td>
                <td>@categ.Category_Name</td>
                
                <td>
                    <a href="@Url.Action("UpdateCategory", "Admin", new { id = categ.category_Id })" class="btn btn-primary">Edit</a>

                    <a href="@Url.Action("DeleteConfirmCategory","Admin",new{id=categ.category_Id})" class="btn btn-danger">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
